$primary-color: #303841;
$complementary-color: #413930;
$secondary-color: #d72323;
$w-color: #e3e3e3;

.top-nav {
  background-color: $w-color;
  box-shadow: 3px 3px 5px rgba(17, 17, 17, 0.1);
  transition: all 0.3s ease-in-out;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  i.bi {
    font-size: 2rem;
  }

  ul {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    height: 70px;

    &:first-child {
      margin-right: auto;
    }
  }

  a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $complementary-color;

    &:hover {
      background-color: #eee;
    }
  }
  .logo {
    img {
      transform: scale(0.9); // 縮小到 90%
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba($w-color, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(17, 17, 17, 0.1);

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  transition: 0.7s ease-out;

  li,
  a {
    width: 100%;
  }

  &.active {
    right: 0;
  }
}

.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .top-nav {
    .logo {
      img {
        transform: scale(0.85);
      }
    }
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .top-nav {
    .logo {
      img {
        transform: scale(0.8);
      }
    }
  }
}
