@import "bootstrap/scss/functions.scss";
@import "../styles/variables.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "../styles/_reset.scss";
@import "../styles/_custom.scss";
@import "../styles/_navbar.scss";
@import "../styles/_footer.scss";
@import "../styles/_reservation.scss";
@import "../styles/_home.scss";
@import "../styles/_backToTop.scss";
@import "../styles/_introduce.scss";
@import "../styles/_adminOrder.scss";
@import "../styles/_about.scss";

$primary-color: #303841;
$complementary-color: #413930;
$secondary-color: #d72323;
$w-color: #e3e3e3;

body {
  font-family: Arial, sans-serif;
  background: $primary-color;
}
